<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Find the Fraudiest Events!</title>
  <meta name="description" content="Predicts fraud">
  <meta name="author" content="Team Strigiformes">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

  <link rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
  crossorigin="anonymous">



</head>

<h1>
&emsp;Investigation Priorities
</h1>


<table class="table table-hover">
  <th>Event ID</th>
  <th>Event Title</th>
  <th>Fraud</th>
  <th>Spam</th>
  <th>TOS</th>
  <th>Priority</th>
{% for row in event_data %}
    <tr class="{{row.class}}">
      <td>{{row.event_id}}</td>
      <td><a href='http://www.google.com/search?q={{row.title}}'>{{row.title}}</a></td>
      <td>{{row.fraud}}</td>
      <td>{{row.spam}}</td>
      <td>{{row.tos}}</td>
      <td>{{row.largest}}</td>
    </tr>

  {% endfor %}
</table>


</html>
